<div class="row columns">
  <%= for company <- @companies do %>
    <div class="medium-4 column">
      <a href="<%= company_path(@conn, :show, company) %>">
        <div class="callout">
          <h6><%= company.name %></h6>
          <img src=<%= "#{company.front_image}" %>>
          <p><%= company.front_description %></p>
        </div>
      </a>
    </div>
  <% end %>
</div>
