<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= link "SourceKorea", to: page_path(@conn, :index), class: "logo" %>
      </li>
    </ul>
  </div>
</div>
