<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= link "TradeNara", to: page_path(@conn, :index) %>
      </li>
    </ul>
  </div>
</div>
