<div class="session-component">
  <%= if @current_user do %>
    <p>Signed in as: <%= @current_user.username %></p>
    <%= link "LOGOUT", to: session_path(@conn, :delete, @current_user), method: "delete", class: "button" %>
  <% else %>
    <p>You're not signed in.</p>
    <%= link "REGISTER", to: user_path(@conn, :new), class: "button" %>
    <%= link "LOGIN", to: session_path(@conn, :new), class: "button" %>
  <% end %>
</div>
