<div class="session-component">
  <%= if @current_user do %>
    <p>Signed in as: <%= @current_user.username %></p>
    <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "small button" %>
  <% else %>
    <p>You're not signed in.</p>
    <%= link "Register", to: user_path(@conn, :new), class: "small button" %>
    <%= link "Log in", to: session_path(@conn, :new), class: "small button" %>
  <% end %>
</div>
